:root {--scrollPosition:0}

@keyframes shiftLeftFork {
    0% {
        left: 46.25vw
    }
    100%{
        left: 35.25vw;
    }
}
@keyframes shiftRightFork {
    0% {
        left: 50.75vw
    }
    100%{
        left: 39.75vw;
    }
}
@keyframes shiftSpoon {
    0% {
        left: 49.1vw;
    }
    100%{
        left: 38.1vw;
    }
}
@keyframes shiftCircle {
    0% {
        left: 45.5vw;
    }
    100%{
        left: 34.5vw;
    }
}

@keyframes leftFork {
    0% {
        -webkit-transform:rotate(900deg);
        left:150vw
    }
    100% {
        left:46.25vw;
    }
}

@keyframes rightFork {
    0% {
        -webkit-transform:rotate(-900deg);
        left:-50vw
    }
    100% {
        left:50.75vw;
    }
}

@keyframes spoon{
    0% {
        top: calc((1 - var(--scrollPosition))*-50vw + var(--scrollPosition)*-143.75vw);
    }
    100% {
        top: calc((1 - var(--scrollPosition))*6.25vw + var(--scrollPosition)*-143.75vw);
    }
}

@keyframes bcircle{
    0%{
        width: 300vw;
        height: 300vw;
        left:-100vw;
        top: calc((1 - var(--scrollPosition))*-100vw + var(--scrollPosition)*-144.5vw);
    }
    100%{
        width: 9vw;
        height: 9vw;
        left:45.5vw;
        top: calc((1 - var(--scrollPosition))*5.5vw + var(--scrollPosition)*-144.5vw);
    }
}

@keyframes logoBlockShift{
    0%{  
        width:50vw;
    }
    100%{
        width:39vw;
    }
}

@keyframes wordShift{
    0%{
        left:25vw;
    }
    100%{
        left:45vw;
    }
}

@keyframes disappear{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

#leftFork {
    width: 3vw;
    position: fixed;
    top: calc((1 - var(--scrollPosition))*8vw + var(--scrollPosition)*-142vw);
    left: 150vw;
    animation: leftFork 1.5s ease-out, shiftLeftFork 1s 2.5s ease-in-out;
    animation-fill-mode: forwards;
}

#rightFork {
    width: 3vw;
    position: fixed;
    top: calc((1 - var(--scrollPosition))*8vw + var(--scrollPosition)*-142vw);
    right:150vw;
    animation: rightFork 1.5s ease-out, shiftRightFork 1s 2.5s ease-in-out;
    animation-fill-mode: forwards;
}

#spoon {
    width: 1.8vw;
    position: fixed;
    left: 49.1vw;
    top:-50vw;
    animation: spoon 1.5s ease-out, shiftSpoon 1s 2.5s ease-in-out;
    animation-fill-mode: forwards;
}

#circle{
    width: 300vw;
    height: 300vw;
    left:-100vw;
    top:-100vw;
    position: fixed;
    background-color: #FF5502;
    border-radius: 50%;
    animation: bcircle 1.5s 0.75s ease-out, shiftCircle 1s 2.5s ease-in-out;
    animation-fill-mode: forwards;
}

#logoBlock{
    width:50vw;
    height:10vw;
    position:fixed;
    top: calc((1 - var(--scrollPosition))*5vw + var(--scrollPosition)*-142.25vw);
    left:0vw;
    background-color: white;
    animation: logoBlockShift 1s 2.5s, disappear 0s 3.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#words{
    width:20vw;
    position:fixed;
    top: calc((1 - var(--scrollPosition))*7.75vw + var(--scrollPosition)*-142.25vw);
    left:25vw;
    animation: wordShift 1s 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#city{
    position:fixed;
    width:100vw;
    top: calc((1 - var(--scrollPosition))*5vw + var(--scrollPosition)*-30vw);
    left:0vw;
}

#address{
    position: fixed;
    background-color: black;
    left:30vw;
    top: calc((1 - var(--scrollPosition))*30vw + var(--scrollPosition)*-120vw);
    width: 30vw;
    height: 1vw;
    padding:1vw;
    border-radius: 35px;
    border-color: black;
    color:white;
    font-size: 1.5vw;
}

#submit{
    position: fixed;
    background-color: #FF5502;
    left:57vw;
    top: calc((1 - var(--scrollPosition))*30vw + var(--scrollPosition)*-120vw);
    width: 10.5vw;
    height: 3.25vw;
    padding-right:1.5vw;
    
    border-radius: 35px;
    border-color: #FF5502;
    border-style: none;    
    
    color:white;
    text-align: right;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
}
#submit:active{
    border-style: none;
}
#submit:hover{
    left:58vw;
    padding-right: 2.5vw;
}

#help{
    position: fixed;
    background-color: white;
    left:63.5vw;
    top: calc((1 - var(--scrollPosition))*30vw + var(--scrollPosition)*-120vw);
    width: 9.5vw;
    height: 3.25vw;
    padding-right:1vw;
    
    border-radius: 35px;
    border-width: 1px;
    border: 1px black solid;
    
    color:#3b3b3b;
    text-align: right;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
}
#help:active{
    border: 1px black solid;
}
#help:hover{
    border: 1px black solid;
    left:64.5vw;
    padding-right: 2vw;
}

#title{
    position: fixed;
    width: 100%;
    left: 45wv;
    top: calc((1 - var(--scrollPosition))*168vw + var(--scrollPosition)*18vw);
    color: #2f2f2f;
    font-weight: 600;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 2.5vw;
}

#paragraph{
    position: fixed;
    width: 60vw;
    padding-left: 20vw;
    top: calc((1 - var(--scrollPosition))*173vw + var(--scrollPosition)*23vw);
    color: #585858;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 1.8vw;
}

#goBack{
    position: fixed;
    left: 47vw;
    top: calc((1 - var(--scrollPosition))*190vw + var(--scrollPosition)*40vw);
    background-color: #FF5502;  
    width: 7.5vw;
    height: 3.25vw;
    
    border-radius: 35px;
    border-color: #FF5502;
    border-style: none;    
    
    color:white;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
}
#goBack:hover{
    width: 8.5vw;
    left:46.5vw;
}

#discordLink{
    position: absolute;
    left: 25vw;
    top: 60vw;
    background-color: #8c37ff;  
    width: 16vw;
    height: 3vw;
    padding-top:1vw;
    
    border-radius: 35px;
    border-color: #8c37ff;
    border-style: none;    
    
    color:white;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
}
#discordLink:hover{
    left: 24vw;
    width: 18vw;
}

#googleMap{
    position: absolute;
    left: 55vw;
    width: 30vw;
    height: 30vw;
    top: 50vw;
    border: 2px solid black;
}

body{
    background-color: white;
    padding:0px;
    padding-top: 200vh;
    height: 75vh;
    font-size: = 1vw;
}